{% extends "index.html" %}

{% block title %}Pensiones{% endblock %}
{% block breadcumbs %}
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listar Pensiones</li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card overflow-hidden">
                <div class="card-header border-bottom d-flex justify-content-end">
                    <a class="btn btn-success" href="{% url "enrollment_create" %}">+ Matricular Estudiante</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1 d-flex align-items-center">
                            <div class="transaction-icon"><i class="fe fe-user-check"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <strong>Nombres:</strong> {{ object_list.0.enrollment }}<br>
                                <strong>Cédula:</strong> {{ object_list.0.enrollment.student.identification }}<br>
                                <strong>Dirección:</strong> {{ object_list.0.enrollment.student.address }}
                            </p>
                        </div>
                        <div class="col-md-1 d-flex align-items-center">
                            <div class="transaction-icon"><i class="fe fe-paperclip"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <strong>Curso:</strong> {{ object_list.0.enrollment.cohort.course }}<br>
                                <strong>Fecha Inicio:</strong> {{ object_list.0.enrollment.cohort.initial_date }}<br>
                                <strong>Fecha Fin:</strong> {{ object_list.0.enrollment.cohort.end_date }}<br>

                            </p>
                        </div>
                    </div>
                    <br>
                    <table class="table table-bordered">
                        <tr>
                            <th>#</th>
                            <th>Fecha de Pago</th>
                            <th>Monto</th>
                            <th>Pagado</th>
                        </tr>
                        {% for payment in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ payment.payment_date }}</td>
                                <td>{{ payment.amount }}</td>
                                <td>{% if not payment.status %}
                                    <span class="text-danger">POR PAGAR&nbsp;&nbsp;<i class="fa fa-close"></i></span>
                                {% else %}
                                    <span class="text-success">PAGADO <i class="fa fa-check-circle"></i></span>
                                {% endif %}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary"
                                       href=""><i
                                            class="fa fa-edit"></i> Pagar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}