{% extends "base/index.html" %}

{% block title %}Cursos{% endblock %}
{% block breadcumbs %}
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listar Estudiante</li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card overflow-hidden">
                <div class="card-header border-bottom d-flex justify-content-end">
                    <a class="btn btn-success" href="{% url "course_create" %}">+ Crear Estudiante</a>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                        </tr>
                        {% for course in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ course.name }}</td>
                                <td>
                                    <a class="btn btn-sm btn-warning" href="{% url "course_update" course.pk %}"><i
                                            class="fa fa-edit"></i></a>
                                    <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}