{% extends "index.html" %}

{% block title %}Lista de Matrículas{% endblock %}
{% block breadcumbs %}
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listar Estudiante</li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card overflow-hidden">
                <div class="card-header border-bottom d-flex justify-content-end">
                    <a class="btn btn-success" href="{% url "enrollment_create" %}">+ Matricular Estudiante</a>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Curso-Cohorte</th>
                            <th>Cuotas pendientes</th>
                            <th>Pensiones Atrasadas</th>
                            <th>Acciones</th>
                        </tr>
                        {% for enrollment in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ enrollment.student }}</td>
                                <td>{{ enrollment.cohort }}</td>
                                <td>
                                    <span class="text-primary">{{ enrollment.pending_payments }} / {{ enrollment.payments_enrollment.count }} POR PAGAR</span>
                                </td>
                                <td>
                                    {% if enrollment.late_payments > 0 %}
                                        <span class="text-danger">
                                        <i class="fa fa-warning"></i>
                                        {{ enrollment.late_payments }} pension(es) atrasadas
                                    </span>
                                    {% else %}
                                        <span class="text-primary">
                                        <i class="fa fa-check-circle"></i>
                                        Al día
                                    </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-warning"
                                       href="{% url "payment_list" enrollment.pk %}"><i
                                            class="fa fa-edit"></i></a>
                                    <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}