{% extends "index.html" %}

{% block title %}Crear Estudiante{% endblock %}
{% block breadcumbs %}
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "student_list" %}">Listar Estudiantes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Crear Estudiante</li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit" value="Save">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}